



<div class="card p-3 border-none overflow-hidden">
  <div class="row no-gutters ml-3">
    <div class="col-md-5" style="max-height:220px;border-radius:15px; overflow:hidden;">
      <%= cl_image_tag (listing.photo.key), style: "height: 100%; object-fit:contain;", crop: :fill %>
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title"><%= listing.name.upcase %></h5>
        <div class="d-flex justify-content-between mb-2">
              <div><i class="fas fa-house-user"></i> <%= listing.center.name %></div>
              <div><i class="fas fa-map-marker-alt"></i> <%= listing.center.location %></div>
            </div>
        <p class="card-text"><%= listing.description %></p>
        <div><%= link_to "View details", listing_path(listing), class:"btn btn-success ", style:"text-decoration:none; color:white;"%></div>
      </div>
    </div>
  </div>
</div>
