<div class="card m-2 rounded overflow-hidden shadow-sm">
      <div class="row no-gutters">
        <div class="col-md-5">
          <%= cl_image_tag (listing.photo.key), width: 300, style: "height: 100%; object-fit:cover;", crop: :fill %>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <h5 class="card-title"><%= listing.name.upcase %></h5>
            <div class="d-flex justify-content-between mb-2">
              <div><i class="fas fa-house-user"></i> <%= listing.center.name %></div>
              <div><i class="fas fa-map-marker-alt"></i> <%= listing.center.location %></div>
            </div>

            <p class="card-text font-weight-bold">Category: <%= listing.category.titleize %></p>
            <p class="card-text"><%= listing.description %></p>
            <div class = "d-flex justify-content-between">
              <p class="card-text font-weight-bold">Next Available: <%= listing.date %></p>
              <p class="card-text font-weight-bold">Price: <%= listing.price %></p>
            </div>
            <div class="d-flex">
              <div>
              <%= link_to "View Details", listing_path(listing), class:"btn btn-success", style:"text-decoration:none; color:white;"%>
              <%= link_to "Edit Details", edit_listing_path(listing), class:"btn btn-warning"%>
              </div>
              <%= link_to "Delete", listing_path(listing), method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-danger ml-auto"%>
            </div>
          </div>
        </div>
      </div>
  </div>
