<div class="container my-3">
  <h2 class="text-center">Edit Listing</h2>
  <h4 class="text-center">Center: <%= @center.name %></h4>
  <%= simple_form_for @listing do |f| %>
  <%= f.input :category, collection:["trip", "course"] %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :date %>
  <%= f.input :start_time %>
  <%= f.input :duration %>
  <%= f.input :dive_count %>
  <%= f.input :max_divers %>
  <%= f.input :latitude %>
  <%= f.input :longitude %>
  <%= f.input :photo, as: :file, input_html: { multiple: false } %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
</div>
