<div class="container my-3">

  <div>
  <h1>Your <%= @booking.listing.category %></h1>
    <div class="card">
      <div class="card-body">
          <h5><span class="mb-2 badge badge-pill badge-<%= @booking.status == "booked" || @booking.status == "completed" ? "success" : "danger" %>"><%= (@booking.status).upcase %></span></h5>
          <div class="mb-3 d-flex align-items-center">
            <h5 class="card-header flex-grow-1"><b>Booking ID</b>: #<%= @booking.id %></h5>
            <% if @booking.status == "booked" %>
              <%= link_to "Cancel Booking", cancel_booking_path, method:"patch", class:"btn btn-danger" %>
            <% end %>
          </div>
        <h5 class="card-title"><b>Location: </b><%= @booking.listing.center.location %></h5>
        <p><b>No. of diver(s)</b>: <%= @booking.no_of_divers %></p>

        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
          </tbody>
        </table>
  <h3><b>Listing info</b></h3>
  <p>Listing: <%= @booking.listing.name %></p>
  <p>Description: <%= @booking.listing.description %></p>
  <p>Date: <%= @booking.listing.date %></p>
  <p>Time: <%= @booking.listing.start_time.strftime("%l:%M %p") %></p>
  <p>Duration per dive: <%= @booking.listing.duration %> minutes</p>
  <p>No. of dives: <%= @booking.listing.dive_count %></p>
  <p>Price: $<%= @booking.costs %></p>

  <h3><b>Center info</b></h3>
  <p>Center: <%= @booking.listing.center.name %></p>
  <p>About the center: <%= @booking.listing.center.description %></p>
  <p>Address: <%= @booking.listing.center.address %></p>
  <p>Phone: <%= @booking.listing.center.phone_number %></p>
  <p>Email: <%= @booking.listing.center.email %></p>
      </div>
    </div>
  </div>




</div>
