<div class="d-flex flex-wrap justify-content-start">
  <% listings.each do |list| %>
  <div class="card mr-3 mb-3 shadow-sm" style="width: 21rem">
    <%= cl_image_tag (list.photo.key), class: "card-img-top", alt: center.name %>
    <div class="card-body">
      <h5 class="card-title"><%= list.name %></h5>
      <p class="card-text"><%= center.name %></p>
      <div class="d-flex justify-content-between">
        <p>Days: <%= list.duration / 24 %></p>
        <p>Dives: <%= list.dive_count %></p>
      </div>
      <%= link_to "Explore", listing_path(list), class:"btn btn-primary",style:"width: 100%" %>
    </div>
  </div>
  <% end %>
</div>
