<div class="container">
  <section>
    <h1 class="my-5"><%= @center.name %></h1>
  </section>

  <section>

  </section>

  <section>
    <div class="d-flex mb-3" style="gap:20px;">
      <div><a href="#center-description">Description</a></div>
      <div><a href="#center-diving">Diving</a></div>
      <div><a href="#center-courses">Courses</a></div>
      <div><a href="#center-schedule">Schedule</a></div>
    </div>
  </section>

<section id="center-image" class="mb-5" style="min-height:350px; background-color:gray;">
  <h2 class="h3">IMAGE PLACEHOLDER</h2>
</section>

<section id="center-description" class="mb-5"  style="min-height:200px;">
  <div class="d-flex">
    <h2 class="h3  pr-3" style="width:35%; ">DESCRIPTION</h2>
    <div class="px-3 d-flex flex-column justify-content-between">
      <p><%= @center.description %></p>
      <div>
        <p><strong>Address: </strong>xxx km away from you</p>
        <p><%= @center.address %></p>
      </div>
    </div>
  </div>
</section>

<section id="center-diving" class="mb-5"  style="min-height:200px;">
  <h2 class="h3">DIVING</h2>
  <%= render "show-card" ,listings: @dives, center: @center %>
</section>

<section id="center-courses" class="mb-5"  style="min-height:200px;">
  <h2 class="h3">COURSES</h2>
  <%= render "show-card" ,listings: @courses, center: @center %>
</section>

<section id="center-schedule" class="mb-5" style="min-height:200px;">
  <h2 class="h3">SCHEDULE</h2>
  <%= render "schedule-card" ,listings: @center.listings, center: @center %>
</section>

</div>
