  <footer class="bg-dark text-center text-white fixed-bottom">
    <div class="container py-1">
      <section class="">
        <%= link_to "#", class: "btn btn-outline-light m-1" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>

        <%= link_to "#", class: "btn btn-outline-light m-1" do %>
          <i class="fab fa-twitter"></i>
        <% end %>

        <%= link_to "#", class: "btn btn-outline-light m-1" do %>
          <i class="fab fa-instagram"></i>
        <% end %>

        <%= link_to "#", class: "btn btn-outline-light m-1" do %>
          <i class="fab fa-linkedin-in"></i>
        <% end %>
      </section>
    </div>

    <div class="text-center py-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <%= link_to "Scubadoo", "#" %>
    </div>
  </footer>
