  <footer class="bg-dark text-center text-white">
    <div class="container py-1">
      <section class="">
        <%= link_to "#", class: "btn text-white m-1" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>

        <%= link_to "#", class: "btn text-white m-1" do %>
          <i class="fab fa-twitter"></i>
        <% end %>

        <%= link_to "#", class: "btn text-white m-1" do %>
          <i class="fab fa-instagram"></i>
        <% end %>

        <%= link_to "#", class: "btn text-white m-1" do %>
          <i class="fab fa-linkedin-in"></i>
        <% end %>
      </section>
    </div>

    <div class="text-center py-1" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 <%= link_to "Scubadoo", "#", class: "text-white", style: "text-decoration: none;" %>
    </div>
  </footer>
