<section class="jumbotron jumbotron-fluid home-page-banner position-relative mb-5">
    <div class="container text-white text-center border p-5">
      <h1 class="display-5 text-shadow mb-2"><strong>Book your diving worldwide</strong></h1>
      <%# <p class="lead">The form will be here when @centers is created</p> %>
      <div class="d-flex justify-content-center align-items-center">
        <%= form_tag centers_path, method: :get do %>
          <div class="d-flex" style="width: 40vw;">
            <%= text_field_tag :query,
                params[:query],
                class: "form-control mr-sm-2",
                placeholder: "Where do you want to go?"
            %>
            <%= submit_tag "Search", class: "btn btn-danger mb-4" %>
          </div>
        <% end %>
      </div>
      <div class="shop-bar shadow">
        <%= link_to centers_path, class: "shop py-4" do%>
          <%# <div> %>
            <i class="fas fa-house-user"></i>
            <div>Centers</div>
          <%# </div> %>
        <% end %>
        <%= link_to trips_path, class: "shop" do%>
          <i class="fas fa-ship"></i>
          <div>Dives</div>
        <% end %>
        <%= link_to courses_path, class: "shop" do%>
          <i class="fas fa-book"></i>
          <div>Courses</div>
        <% end %>
      </div>
    </div>
</section>
<div class="container">
  <section>
    <h2><strong>Top diving destinations</strong></h2>
    <h4>Book a trip in one the world's top diving destinations.</h4>
    <% 2.times do %>
      <div class="container d-flex justify-content-evenly mb-3">
        <div class="card text-white mx-2">
          <img src="https://images.unsplash.com/photo-1531803998246-ed33d49b1b76?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8cGhpbGlwcGluZXMgZGl2aW5nfHx8fHx8MTYzODM0MzExMg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920" class="card-img" alt="Mexico">
          <div class="card-img-overlay">
            <h4 class="card-title" style="position: absolute"><strong>Mexico</strong></h4>
          </div>
        </div>
        <div class="card text-white mx-2">
          <img src="https://images.unsplash.com/photo-1563203660-ae1ea5442356?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8Y291bnRyeSBiZWFjaHx8fHx8fDE2MzgzNDI4ODY&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920" class="card-img" alt="Indonesia">
          <div class="card-img-overlay">
            <h4 class="card-title" style="position: absolute"><strong>Indonesia</strong></h4>
          </div>
        </div>
        <div class="card text-white mx-2">
          <img src="https://images.unsplash.com/photo-1541697030857-839ac1dfbc56?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=1080&ixid=MnwxfDB8MXxyYW5kb218MHx8Y291bnRyeSBiZWFjaHx8fHx8fDE2MzgzNDMwMTk&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1920" class="card-img" alt="Egypt">
          <div class="card-img-overlay">
            <h4 class="card-title" style="position: absolute"><strong>Egypt</strong></h4>
          </div>
        </div>
      </div>
    <% end %>

  </section>

  <section>
    <h2><strong>Not sure where to go?</strong></h2>
    <h4>Get inspiration from one of our travel themes.</h4>
    <%= render "carousel" %>
  </section>

  <section>
    <h2><strong>Contact us</strong></h2>
  </section>
</div>
