<!DOCTYPE html>
<html>
  <head>
    <title>Scubadoo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
  </head>

  <body>
  <%= render "shared/navbar" %>
    <main>
      <div class="d-flex flex-column justify-content-between" style="margin-top: 12vh;">
        <div class="fill-div">
          <%= yield %>
        </div>
      </div>
    </main>
    <%= render "shared/footer" %>
  </body>

</html>
