<!DOCTYPE html>
<html>
  <head>
    <title>Scubadoo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body onload='number_pages'>
  <div id="content">
    <%= render "shared/navbar" %>
      <div class="d-flex flex-column justify-content-between">
        <div class="fill-div">
          <%= yield %>
        </div>
        <%= render "shared/footer" %>
      </div>
    </div>
  </body>


</html>
